 
 th,td{
    border-color: #96D4D4;
    padding: 15px;
    text-align: left;
  }
  table{
    border: 2px solid;
    border-color: blue;
    border-radius: 10px;
    
  }
  th{
    background-color: #D6EEEE;
    border-radius: 6px;
  }

  td {
    text-align: center;
  }
 table{
     margin:auto;
     margin-top: 10em;
     margin-bottom:10em;
     
 }
 tr:nth-child(even) {
    background-color: #f2f7f7;
  }

  h3{
    text-align:center;   
    margin-top:7em;
    position:relative;
   }